name: publish-golang

on:
  release:
    types:
      - created
  push:
    branches:
      - main

jobs:
  publish-go-binaries:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        goos: [linux, windows, darwin]
        goarch: [amd64]
        include:
          - goos: linux
            goarch: arm64
          - goos: linux
            goarch: ppc64le

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set APP_VERSION env
        run: echo APP_VERSION=$(echo ${GITHUB_REF} | rev | cut -d'/' -f 1 | rev ) >> ${GITHUB_ENV}
      - name: Set BUILD_TIME env
        run: echo BUILD_TIME=$(date) >> ${GITHUB_ENV}
      - name: Environment Printer
        uses: managedkaos/print-env@v1.0

      - uses: wangyoucao577/go-release-action@master
        continue-on-error: ${{ github.event_name == 'release' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          goos: ${{ matrix.goos }}
          goarch: ${{ matrix.goarch }}
          build_flags: -v
          sha256sum: TRUE
          binary_name: ensureconda
          ldflags: >-
            -X "main.appVersion=${{ env.APP_VERSION }}"
            -X "main.buildTime=${{ env.BUILD_TIME }}"
            -X main.gitCommit=${{ github.sha }}
            -X main.gitRef=${{ github.ref }}
